html {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: auto;
    background-color: #aad4cf;
}
header {
    background-image: url(../images/lone-starfish-wide.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 50px;
    padding-top: 170px;
    padding-bottom: 100px;
    color: white;
}
body {
    background-color: white;
    padding: 5px;
    position: relative;
}
nav {
    background-color: white;
    position: relative;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 2px;
}
nav a {
    float: center;
    padding-left: 100px;
    padding-right: 75px;
    font-size: 25px;
    text-transform: uppercase;
}
.borderstyle {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
h1 {
    font-size: 35px;
    text-align: left;
    padding-left: 10px;
}
.content {
    text-align: top right;
}
#image2 {
    float: left;
    padding: 10px;
}
h2 {
    padding: 10px;
}
form {
    border-style: solid;
    padding-left: 10px;
}
#fullname, #email {
   width: 875px;
}
#message {
    width: 875px;
    height: 125px;
}
#send {
    padding: 20px;
}
#button {
    padding: 8px;
}
footer {
    text-align: right;
    padding: 30px;
}